*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
"Arial",
"Yu Gothic",
sans-serif;

color:white;

background:

radial-gradient(circle at top,#4936a8,#12002b 60%);

min-height:100vh;

}



header{

text-align:center;

padding:40px 20px;

}



h1{

font-size:38px;

letter-spacing:5px;

}



nav{

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

}



nav a{

display:block;

background:#ff8bd8;

color:white;

text-decoration:none;

padding:12px 20px;

border-radius:30px;

font-weight:bold;

}



/* スマホで押しやすいサイズ */

@media(max-width:600px){

nav a{

width:45%;

padding:15px 5px;

font-size:14px;

}

}



main{

max-width:800px;

margin:auto;

padding:20px;

}



section{

background:rgba(255,255,255,0.12);

backdrop-filter:blur(10px);

border-radius:25px;

padding:30px;

margin-bottom:30px;

}



.top{

text-align:center;

}



.topgif{

width:100%;

max-width:600px;

border-radius:20px;

}

afterword-frame{

width:700px;
max-width:95%;
margin:60px auto;

position:relative;

padding:80px;

border:3px solid #d7c16a;

border-radius:18px;

background:#fffefb;

box-shadow:
0 0 30px rgba(180,220,255,.4);
}


/* 内側の枠 */

.afterword-frame::before{

content:"";

position:absolute;

top:28px;
left:28px;
right:28px;
bottom:28px;

border:2px solid #b9ddf4;

border-radius:14px;

}


/* 四隅 */

.corner{

width:55px;
height:55px;

border:3px solid #b9ddf4;

position:absolute;
}

.tl{
top:10px;
left:10px;
border-right:none;
border-bottom:none;
}

.tr{
top:10px;
right:10px;
border-left:none;
border-bottom:none;
}

.bl{
bottom:10px;
left:10px;
border-right:none;
border-top:none;
}

.br{
bottom:10px;
right:10px;
border-left:none;
border-top:none;
}


/* 月 */

.moon{

width:16px;
height:16px;

background:#f3e6a4;

border-radius:50%;

position:absolute;

left:50%;

transform:translateX(-50%);
}

.top{

top:18px;
}

.bottom{

bottom:18px;
}


/* 星 */

.star{

color:#e7c957;

position:absolute;

font-size:18px;
}

.s1{
top:55px;
left:50%;
margin-left:-80px;
}

.s2{
top:55px;
right:50%;
margin-right:-80px;
}

.s3{
bottom:55px;
left:50%;
margin-left:-80px;
}

.s4{
bottom:55px;
right:50%;
margin-right:-80px;
}


.afterword-content{

position:relative;

z-index:2;

line-height:2;

color:#555;

}


.afterword-content h1{

text-align:center;

color:#87c9eb;

margin-bottom:40px;
}


.afterword-content p{

text-indent:1em;

margin-bottom:1.5em;
}
