*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
"Arial",
"Yu Gothic",
sans-serif;

color:white;

background:

radial-gradient(circle at top,#4936a8,#12002b 60%);

min-height:100vh;

}



header{

text-align:center;

padding:40px 20px;

}



h1{

font-size:38px;

letter-spacing:5px;

}



nav{

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

}



nav a{

display:block;

background:#ff8bd8;

color:white;

text-decoration:none;

padding:12px 20px;

border-radius:30px;

font-weight:bold;

}



/* スマホで押しやすいサイズ */

@media(max-width:600px){

nav a{

width:45%;

padding:15px 5px;

font-size:14px;

}

}



main{

max-width:800px;

margin:auto;

padding:20px;

}



section{

background:rgba(255,255,255,0.12);

backdrop-filter:blur(10px);

border-radius:25px;

padding:30px;

margin-bottom:30px;

}



.top{

text-align:center;

}



.topgif{

width:100%;

max-width:600px;

border-radius:20px;

}
